<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="EsriApiKey" value="AAPTxy8BH1VEsoebNVZXo8HurFQqz53zIAmDU81yp83ExtBUgVuu1K0wcpc92EDZhxh9K-0sXlpPOO6HQLvlpV62owtPHNOVFwzaGI4ZxXfzVbAQK0sP2lYk0RSQ3vPWa-UyiB9SrpHs1qb2OeVJ8ejR4I31phOYtcMju8A-ZIJ3glivqVEdwK7x0dV-J8hKkhMCXCidepwmMdHt0ilk18S-bL7LswUJpPMBcIWr7n17_cA.AT1_24UAjWgt"/>
	</appSettings>
</configuration>